<%= render "shared/second-header"%>

<div class="item-show">
  <div class='item-contents'>
    <div class='transaction-main'>
    <% if user_signed_in? && current_user.id == @user.id %>
      <h1 class='transaction-title-text'>
        マイページ
      </h1>
    <% elsif current_user != @user %>
      <h1 class='transaction-title-text'>
        ユーザーページ
      </h1>
    <% end %>
    </div>

    <div class="item-explain-box">
      <span><%= @user.nickname %></span>
    </div>

    <% @user.followings.each do |user| %>
      <% if user.id == current_user.id %>
        <div class="item-explain-box">
          <span>[フォローされています]</span>
        </div>
      <% end %>
    <% end %>

    <details>
      <summary><%= @user.followings.count %> フォロー中 </summary>
        <table class="detail-table">
          <tbody>
            <% @user.followings.each do |user| %>
            <tr>
              <td class="detail-value"><%= link_to user.nickname, user_path(user.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </details>

    <details>
      <summary><%= @user.followers.count %> フォロワー</summary>
        <table class="detail-table">
          <tbody>
            <% @user.followers.each do |user| %>
            <tr>
              <td class="detail-value"><%= link_to user.nickname, user_path(user.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </details>

    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="item-box">
        <%= link_to "ユーザー情報の編集", edit_user_registration_path, class: "item-blue-btn" %>
      </div>
    <% elsif user_signed_in? && current_user != @user %>
      <% if @user.followed_by?(current_user) %>
        <%=link_to "フォロー中", user_relationships_path(@user.id),class: "item-green-btn", data: { turbo_method: :delete } %>
      <% else %>
        <%=link_to "フォローする", user_relationships_path(@user.id),class: "item-blue-btn", data: { turbo_method: :post } %>
      <% end %>
    <% end %>

    <div class='transaction-main'>
      <h1 class='transaction-title-text'>
        出品商品
      </h1>
    </div>
    <%# 商品一覧 %>
    <%#商品テーブルの表示%>
    <ul class='item-lists'>
      <% @products.each do |product| %>
      <% if product.user_id == @user.id %>
        <li class='list'>
          <%= link_to "/products/#{product.id}" do %>
          <div class='item-img-content'>
            <%= image_tag( product.image, class: :item_img, :size =>'200x200' ) %>

            <% if Purchase.where(product_id: product.id).count >= 1 %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
            <%end%>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= product.product_name %>
            </h3>
            <div class='item-price'>
              <% if product.burden_id == 2 %>
                <span><%= product.price %>円<br><%= '着払い' %></span>
              <% elsif product.burden_id == 3 %>
                <span><%= product.price %>円<br><%= '送料込み' %></span>
              <%end%>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= product.likes.count %></span>
              </div>
            </div>
          </div>
          <%end%>
        <%end%>
      <%end%>
    </ul>

    <div class='transaction-main'>
      <h1 class='transaction-title-text'>
        いいね登録商品
      </h1>
    </div>
    <%#商品テーブルの表示(お気に入り登録したもののみ)%>
    <ul class='item-lists'>
      <% @products.each do |product| %>
      <% if Like.exists?(user_id: @user.id, product_id: product.id) %>
        <li class='list'>
          <%= link_to "/products/#{product.id}" do %>
          <div class='item-img-content'>
            <%= image_tag( product.image, class: :item_img, :size =>'200x200' ) %>

            <% if Purchase.where(product_id: product.id).count >= 1 %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
            <%end%>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= product.product_name %>
            </h3>
            <div class='item-price'>
              <% if product.burden_id == 2 %>
                <span><%= product.price %>円<br><%= '着払い' %></span>
              <% elsif product.burden_id == 3 %>
                <span><%= product.price %>円<br><%= '送料込み' %></span>
              <%end%>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= product.likes.count %></span>
              </div>
            </div>
          </div>
          <%end%>
        <%end%>
      <%end%>
    </ul>
   </div>
</div>

<% if user_signed_in? && current_user.id == @user.id %>
  <%= link_to(new_product_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>

<%= render "shared/second-footer" %>
