<%= render "shared/second-header"%>

<div class="item-show">
  <div class='item-contents'>
    <div class='transaction-main'>
      <h1 class='transaction-title-text'>
        <%= @category.name + "のカテゴリーページ" %>
      </h1>
    </div>

    <details>
      <summary>他のカテゴリーを見る</summary>
      <div class="item-explain-box">
      <div class="another-item">
        <%= link_to "トップページに戻る", categories_path %>
      </div>
        <table class="detail-table">
          <tbody>
            <% @categories.each do |category| %>
              <%# ここに繰り返し処理を記述する %>
              <% if category.id != 1 %>
                <% if category.id != @category.id %>
                  <tr>
                    <td class="detail-value"><%= link_to category.name, "/categories/#{category.id}" %></td>
                    <th class="detail-item"><%= Product.where(category_id: category.id).count %>件</th>
                  </tr>
                <% else %>
                  <tr>
                    <td class="detail-value"><%= category.name %></td>
                    <th class="detail-item"><%= Product.where(category_id: category.id).count %>件</th>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </details>

    <%# 商品一覧 %>
    <%#商品テーブルの表示%>
    <ul class='item-lists'>
      <% @products.each do |product| %>
        <% if product.category_id == @category.id %>
          <li class='list'>
            <%= link_to "/products/#{product.id}" do %>
            <div class='item-img-content'>
              <%= image_tag( product.image, class: :item_img, :size =>'200x200' ) %>

              <% if Purchase.where(product_id: product.id).count >= 1 %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= product.product_name %>
              </h3>
              <div class='item-price'>
                <% if product.burden_id == 2 %>
                  <span><%= product.price %>円<br><%= '着払い' %></span>
                <% elsif product.burden_id == 3 %>
                  <span><%= product.price %>円<br><%= '送料込み' %></span>
                <%end%>
                <div class='star-btn'>
                  <% if user_signed_in? && product.liked_by?(current_user)%>
                    <%= image_tag "star_like.png", class:"star-icon" %>
                  <% else %>
                    <%= image_tag "star.png", class:"star-icon" %>
                  <% end %>
                  <span class='star-count'><%= product.likes.count %></span>
                </div>
              </div>
            </div>
            <%end%>
          <%end%>
        <%end%>
      </ul>
   </div>
</div>

<%= render "shared/second-footer" %>
